@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;700&family=Oswald:wght@300;500;700&family=Ubuntu:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color:white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    

}
h1{
    color: #444;
    text-align: center;
}

.metodo{
    margin: 5px;
    padding: 15px;
    
}   
    
body{
    font-family: 'Oswald', sans-serif;
}

.card{
    padding: 15px;
    margin: 15px ;
}
.carta_contenedor{
    display: flex;
}



   
    
    



/** general**/
.container-fluid{
    background-color: rgb(236, 201, 180);
    padding: 5px;
}


/** Index **/

.logo_img{
    height: 150px;
    
}
header{
    text-align: center;
}


.galeria_titulo{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgb(236, 201, 180);
    width: 100%;
    margin: 0;
    padding: 1px;
    font-size: medium;
}
.galeria_item{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.contenedor_galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(175px, 1fr));
    grid-auto-rows: minmax(175px,auto);
    padding: 20px;
    grid-gap: 10px;
    margin: 20px;
    grid-auto-flow: dense;
}
.galeria_imagen{
    object-fit:cover;
    width:100%;
    height:100%;
    border-radius:15px;
   
    
   
}

.item1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item2{
    grid-column-start: 4;
    grid-column-end:8 ;
    grid-row-start: 1;
    grid-row-end:3 ;
}
.item3{
    grid-column-start:8;
    grid-column-end:-1 ;
    grid-row-start:1 ;
    grid-row-end:3 ;
   
}
.item4{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}
.item5{
    grid-column-start: 7;
    grid-column-end:-1 ;
    grid-row-start:3 ;
    grid-row-end:5 ;
}
  /*footer*/
  footer{
    margin-top: auto;
  }
    /*contacto*/
    

    

@media screen and (max-width:1738px){
 .contenedor_galeria{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr);
   
    
 }
 .item1{
    grid-column-start:1 ;
    grid-column-end:8 ;
    grid-row-start:1 ;
    grid-row-end:3 ;
}
.item2{
    grid-column-start:1 ;
    grid-column-end:8 ;
    grid-row-start:3 ;
    grid-row-end:5 ;
}
.item3{
    grid-column-start:1;
    grid-column-end:8 ;
    grid-row-start:5;
    grid-row-end:7 ;
   
}
.item4{
    grid-column-start: 1;
    grid-column-end:8 ;
    grid-row-start:7 ;
    grid-row-end:9 ;
}
.item5{
    grid-column-start:1 ;
    grid-column-end:8 ;
    grid-row-start:9;
    grid-row-end: 11;
}
 
 
}


